@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    width: 100%;
    background-color: #afa9a9;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;

}

.logo {
    width: 15%;
    height: 70px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;

}

.nav {
    width: 30%;
    height: 70px;
    /* background-color: pink; */


}

.nav-links {
    /* background-color: aquamarine; */
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

/* banner css */

.banner {
    width: 100%;
    height: 700px;
    background-color: #afa9a9;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 30px;
    /* padding-bottom: 30px; */
/* padding: 30px 10%; */

    display: flex;
    align-items: center;

}

.details {
    width: 60%;
    padding: 20px;
    background-color: #afa9a9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
}

.t1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;


}

.t2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: #54549a;

}

.t3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;


}

.cta {
    padding: 16px 40px;
    font-size: 20px;
    margin-top: 35px;
    background-color: #54549a;
    color: white;
    border-radius: 10px;
    border: #54549a 2px solid;
    cursor: pointer;
    transition: .2s;
}

.cta:hover {
    background-color: transparent;
    color: #54549a;


}

.person {
    width: 30%;
    background: #54549a;
    align-self: center;
    /* height: 347px; */
    border-radius: 30px;
    padding: 30px;
}

.person-img {
    height: 90%;
    width: 90%;
}

/* services css */

.services {
    /* background-color: red; */
    padding: 30px 10%;
    width: 100%;
    /* display: flex; */

    /* height: auto; */
}

.services-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 200;
}


.section-child {
    /* background-color: white; */
    padding: 30px 5%;
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.service {
    width: 22%;
    /* background-color: yellow; */
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    row-gap: 15px;
    box-shadow: 0 0 2px gray;
    border-radius: 10px;
}

.icon {
    align-self: center;
    padding: 50px;
    font-size: 60px;
    color: gray;
}

.service-btn {
    padding: 12px 25px;
    background-color: #54549a;
    color: aliceblue;
    border: none;
    border-radius: 10px;
}


/* achievement */

.achievement{
padding: 30px 10%;
/* width: 100%; */
background-color: #ded9d9;
/* color: white; */
}

.achievements{
width: 22%;
/* background-color: yellow; */
/* height: 200px; */
display: flex;
flex-direction: column;
padding: 50px;
font-family: 'Montserrat', sans-serif;
align-items: center;
row-gap: 10px;
}
.number{
font-size: 45px;
font-weight: bold;


}
.tag{
font-size: 18px;


}
.achievement-child{
column-gap: 2.5%;

}


/* Quote Css */


.quote{
width: 100%;
/* background-color: red; */
height: 400px;
/* padding: 0px 10%; */
background-image: url('https://images.pexels.com/photos/4348404/pexels-photo-4348404.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
background-size: cover;
/* margin: 5px; */
}

.overlay{
width: 100%;
height:100%;
background-color: rgba(0, 0, 0, 0.7);
padding: 30px 10%;
display: flex;
align-items: center;
/* outline: none; */
}

.quote-area{
width: 100%;
padding: 30px 0%;
/* background-color: white; */
display: flex;
flex-direction: column;
align-items: center;
}

.ph{
font-size: 15px;
width: 70%;
height: 60px;
border-color: 10px solid white;
font-family: 'Montserrat', sans-serif;
text-indent: 20px;
border-radius: 10px;
background-color: transparent;
outline: none;
}
::placeholder{
    color: white;
}


/* clients CSS*/

.clients{
width: 100%;
padding: 30px 10%;
/* background-color: red; */
}
.client-section-child{
/* background-color: white; */
column-gap: 5%;
align-items: center;
justify-content: center;

}
.client-img{
width: 15%;
filter: grayscale(100%);
cursor: pointer;
transition: .3s;
}
.client-img:hover{
filter: grayscale(0%);

}


/* Footer Css */

.footer{
width: 100%;
background-color: #474242;
padding: 30px 10%;
color: white;


}

.footer-child{
width: 100%;
padding: 20px 50px;
/* background-color: grey; */
display: flex;
flex-direction: column;
row-gap: 10px;
}
.footer-ul{
    font-family: 'Montserrat', sans-serif;
list-style-type: none;
display: flex;
flex-direction: column;
row-gap: 5px;

}
.map{
width: 100%;
height: 100%;
padding: 0px;



}